.header {
    background-color: #F2FDFF;
    height: 80px;
    display: flex;
    justify-content: space-between;
    color: black;
}
.header_logo, .nav_bar {
    margin: 0 2rem 0 2rem;
}
.nav_bar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 33vw;
    font-size: 1.25rem;
}
.nav_link span {
    padding: 0 7px;
}
.nav_link {
    display: flex;
    padding: 5px 0 0 0;
}
.nav_link:hover  {
    transition: 0.25s ease;
    box-shadow: 0 6px 18px 0 rgba(#000, 0.1);
    transform: translateY(-5px);
}
.nav_link:active {
    color: white;
    transform: scale(0.8);
}
.nav_icon {
    width: 20px;
    height: auto;
}

